.DS_Store
.AppleDouble
.LSOverride
azure.err
iisnode.yml

# Icon must ends with two \r.
Icon

# Ignore node_modules
node_modules/*
public/dist/app.js
db/*

# Floobits
.floo
.floobit
.floo
.flooignore
